h2{
    text-decoration: dotted;
    text-shadow: 0cm;
}

body
{
    margin: 0;
    padding: 0;
    background-image:url(images/car1.jfif);
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background-image: -moz-linear-gradient(10);
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #e7071a;
    padding: 20px;
}
label{
    color: rgb(251, 17, 95);
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: none;
    padding-left: 7px;
    color: rgb(255, 0, 21);


}
span{
    color:red;
    font-size: 17px;
}
a{
    float: right;
    background-color: rgb(248, 245, 245);
}

